---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="このブログについて"
	description="JOZO's blog について。"
	pubDate={new Date('2026-05-24')}
	author="jozo"
>
	<p>JOZO&apos;s blog です。</p>
	<p>余計なものを足さず、速く読めることを第一にしています。</p>
</Layout>
