---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="このブログについて"
	description="JOZO's blog について。"
	pubDate={new Date('2026-05-24')}
	author="jozo"
>
	<p>JOZO&apos;s blog です。</p>
	<p>記事の閲覧速度と楽しい見た目を大切にしていきたいと思います。</p>
</Layout>
